.temprature{
  font-size: 8rem;
}
.containter{
  display: flex;
  flex-direction: row;
}
.degree{
  font-size: 4rem;
  font-weight: 600;
}
.cityName{
  font-size: 3.5rem;
  font-weight: 500;
}
.dateTime{
  font-size: .8rem;
  font-weight: 500;
}
.logo{
  padding-top: 12px;
  font-size: 3rem;
}
.logoname{
  font-size: .9rem;
  font-weight: 500;
}
